.home-text {
  width: 90vw;
  padding: 1.5em;

  overflow: hidden;
  display: inline-block;
  text-wrap: wrap;
  border: 1px solid var(--warm-beige-color);
  border-radius: 20px;
  box-shadow: 3px 5px 15px 1px #80513e52;
  background-color: white;

  z-index: 10;

  .animation {
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
  }

  .line1 {
    animation: typing 3s steps(50) 1s forwards;
  }
  .line2 {
    animation: typing 3s steps(50) 2.5s forwards;
  }
  .line3 {
    animation: typing 3s steps(50) 3s forwards;
  }
  .line4 {
    animation: typing 3s steps(50) 3.3s forwards;
  }
  .line5 {
    animation: typing 3s steps(50) 5.3s forwards;
  }
  .line6 {
    animation: typing 3s steps(50) 7.5s forwards;
  }
  .line7 {
    animation: typing 3s steps(50) 10.5s forwards;
  }
  .line8 {
    animation: typing 3s steps(50) 11s forwards;
  }
  .line9 {
    animation: typing 3s steps(50) 11.5s forwards;
  }

  .m-left-1 {
    margin-left: 0.8em;
  }

  .m-left-2 {
    margin-left: 1.6em;
  }

  .m-left-3 {
    margin-left: 2.4em;
  }

  .red {
    color: red;
  }

  .purple {
    color: purple;
  }

  .orange {
    color: orange;
  }

  .green {
    color: green;
  }
}

.home-code-snippet {
  display: none;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .home-text {
    display: none;
  }

  .home-intro {
    /* border: 1px solid purple; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .home-code-snippet {
      display: block;
      width: 90%;
      z-index: 10;
    }
  }
}
