.privacy-section {
  padding: 2em;
  display: flex;
  flex-direction: column;

  .privacy-content {
    .privacy-intro {
      margin: 1em 0;
    }

    .privacy-policy-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1em;
    }
  }

  .privacy-section-btn-container {
    display: flex;
  }
}
