.contact-section {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;

  .contact-section-content {
    padding: 2em;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-section-title {
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
    font-size: 2.25rem;
    color: var(--section-title-color);
    margin-bottom: 1em;
  }

  .contact-wrapper {
    width: 100%;

    .contact-detail-container {
      .contact-text {
        text-align: justify;
        color: var(--text-color);
      }

      .contact-details {
        margin: 1em 0;

        .contact-item {
          color: var(--text-color);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.5em;
          margin-bottom: 0.5em;

          &:hover {
            cursor: pointer;
            color: var(--section-title-color);
          }

          .contact-detail-icons {
            width: 35px;
            height: 35px;
          }
        }
      }

      .contact-social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .contact-section {
    margin-left: 16vw;
    width: 84vw;
    height: auto;
    min-height: 100vh;

    .contact-section-content {
      padding: 2em 3em;

      .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;

        .contact-detail-container {
          margin-top: 2em;
          line-height: 2;

          font-size: 1.2em;
          flex: 1;

          .contact-details {
            margin-top: 2em;
          }

          .contact-social-links {
            margin-top: 1.75em;

            .LinkedIn svg {
              width: 45px;
              height: 45px;
            }

            .Github svg {
              width: 55px;
              height: 55px;
            }
          }
        }

        .form-container {
          flex: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 1350px) {
  .contact-section {
    .contact-section-content {
      .contact-wrapper {
        max-width: 1000px;
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .contact-section {
    .contact-section-content {
      .contact-wrapper {
        gap: 2.5em;
        .contact-detail-container {
          font-size: 1.25em;
        }
      }
    }
  }
}

@media only screen and (min-width: 2500px) {
  .contact-section {
    .contact-section-content {
      .contact-wrapper {
        gap: 3em;
        max-width: 1350px;

        .contact-detail-container {
          font-size: 1.5em;
        }
      }
    }
  }
}
