.home-text {
  width: 90vw;
  padding: 1.5em;

  overflow: hidden;
  display: inline-block;
  text-wrap: wrap;
  border: 1px solid var(--warm-beige-color);
  border-radius: 20px;
  box-shadow: 3px 5px 15px 1px #80513e52;
  background-color: var(--background-color-intro-code);

  z-index: 10;

  &:hover {
    .element-text {
      .emphasis {
        color: var(--accent-color-orange);
      }
    }
  }

  .animation {
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
  }

  .line1 {
    animation: typing 3s steps(50) forwards;
  }
  .line2 {
    animation: typing 3s steps(50) 1.5s forwards;
  }
  .line3 {
    animation: typing 3s steps(50) 2s forwards;
  }
  .line4 {
    animation: typing 3s steps(50) 2.3s forwards;
  }
  .line5 {
    animation: typing 3s steps(50) 4.3s forwards;
  }
  .line6 {
    animation: typing 3s steps(50) 6.5s forwards;
  }
  .line7 {
    animation: typing 3s steps(50) 9.5s forwards;
  }
  .line8 {
    animation: typing 3s steps(50) 10s forwards;
  }
  .line9 {
    animation: typing 3s steps(50) 10.5s forwards;
  }
  .line10 {
    animation: typing 3s steps(50) 11.5s forwards;
  }
  .line11 {
    animation: typing 3s steps(50) 12s forwards;
  }
  .line12 {
    animation: typing 3s steps(50) 12.5s forwards;
  }

  .m-left-1 {
    margin-left: 0.8em;
  }

  .m-left-2 {
    margin-left: 1.6em;
  }

  .m-left-3 {
    margin-left: 2.4em;
  }

  .m-left-4 {
    margin-left: 3.2em;
  }

  .func-color {
    color: #ff4949;
  }

  .funcName-color {
    color: #793fdf;
  }

  .round-bracket-color {
    color: #ffbb5c;
  }

  .bracket-color {
    color: #ea906c;
  }

  .element {
    color: #5d9c59;
  }

  .element-text {
    color: black;
  }
}

.dark {
  .func-color {
    color: #fdfdbd;
  }

  .funcName-color {
    color: #b1afff;
  }

  .round-bracket-color {
    color: #b8e8fc;
  }

  .bracket-color {
    color: #ecee81;
  }

  .element {
    color: #96c291;
  }

  .element-text {
    color: #e5d2c7;
  }
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .home-text {
    width: 50vw;
    font-size: 1.25em;
    line-height: 1.5;
  }
}
