.resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin: 1.5em 0;
  padding: 0.5em 1.5em;

  border: none;
  border-radius: 3.125rem;
  background-color: var(--secondary-color-pale-green);
  color: var(--dark-brown-color);
  box-shadow: 5px 5px 20px -8px #a8c568;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    padding: 0.5em 2.5em;
    background-color: var(--accent-color-orange);
    color: white;

    .resume-btn-icon {
      fill: white;
    }
  }

  .resume-btn-icon {
    fill: var(--accent-color-orange);
  }
}
