.project-container {
  margin: 1em 0.5em 1.5em 0;
  padding: 1em;
  background-color: var(--round-logo-color);
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*   border: 1px solid green; */

  .project-img-container img {
    height: 200px;
    object-fit: cover;
    object-position: center top;
    border-radius: 1em;
  }

  .project-overview {
    color: var(--text-color);

    .project-intro {
      text-align: justify;

      .project-name {
        margin: 0.5em 0.5em 0.5em 0;
      }
    }

    .project-used-tech {
      margin: 0.75em 0 0.75em 0;

      .fa-brands {
        margin-left: 0.5em;
        font-size: 1.5em;
      }
    }

    .project-buttons {
      margin: 2em 0 0 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .project-container {
    flex-direction: row;
    gap: 1em;

    .project-overview {
      .project-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
      }
    }
  }
}
