.project-container {
  margin: 1.5em 0.5em 1.5em 0.5em;
  padding: 1em;
  background-color: var(--round-logo-color);
  box-shadow: 5px 5px 10px rgba(240, 229, 216, 0.5);
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .project-img-container {
    height: 40%;
    width: 100%;

    .project-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      border-radius: 1em;
    }
  }

  .project-overview {
    color: var(--text-color);

    .project-intro {
      text-align: justify;

      .project-name {
        margin: 0.5em 0.5em 0.5em 0;
      }
    }

    .project-used-tech {
      margin: 0.75em 0 0.75em 0;

      .fa-brands {
        margin-left: 0.5em;
        font-size: 1.5em;
      }
    }

    .project-buttons {
      margin: 2em 0 0 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5em;
    }
  }
}

.dark {
  .project-container {
    box-shadow: 4px 4px 5px rgba(96, 93, 103, 0.6);
  }
}

@media only screen and (min-width: 768px) {
  .project-container {
    margin: 1.5em 0.5em 2.5em 0.5em;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
    width: 100%;

    .project-img-container {
      flex: 1.5;
      height: 100%;
    }

    .project-overview {
      flex: 2;

      .project-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .project-container {
    max-width: 1450px;
  }
}
