.home-logo {
  z-index: 10;

  .round-shape {
    border-radius: 50%;
    width: 7.75rem;
    height: 7.75rem;
    background-color: var(--round-logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(240, 229, 216, 0.5);

    .logo-midjourney {
      width: 108px;
      height: 90px;

      object-fit: cover;
    }
  }
}

.home-logo.dark {
  .round-shape {
    box-shadow: 4px 4px 5px rgba(96, 93, 103, 0.6);
  }
}

@media only screen and (min-width: 768px) {
  .home-logo {
    .round-shape {
      width: 10rem;
      height: 10rem;

      .logo-midjourney {
        width: 138px;
        height: 130px;
      }
    }
  }
}
