.home-logo {
  z-index: 10;

  .round-shape {
    border-radius: 50%;
    width: 7.75rem;
    height: 7.75rem;
    background-color: var(--round-logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--round-logo-box-shadow);

    .logo-midjourney {
      width: 108px;
      height: 90px;

      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-logo {
    .round-shape {
      width: 7rem;
      height: 7rem;

      .logo-midjourney {
        width: 128px;
        height: 120px;
      }
    }
  }
}

@media only screen and (min-width: 1060px) {
  .home-logo {
    .round-shape {
      width: 10rem;
      height: 10rem;

      .logo-midjourney {
        width: 138px;
        height: 130px;
      }
    }
  }
}
