.project-slider {
  /*    
  justify-content: center;
  align-items: center; */

  /* border: 1px solid red; */

  .react-multiple-carousel__arrow {
    min-width: 25px;
    min-height: 25px;
    background-color: rgba(211, 211, 211, 0.509);
  }

  .react-multiple-carousel__arrow:hover {
    background-color: #8aa44c85;
  }

  .react-multiple-carousel__arrow--left {
    left: 0;
  }

  .react-multiple-carousel__arrow--right {
    right: 0;
  }

  .react-multiple-carousel__arrow::before {
    font-size: 16px;
  }

  .react-multi-carousel-dot--active button {
    background-color: #80513e;
  }
}

@media only screen and (min-width: 768px) {
  .project-slider {
    display: none;
  }
}
