.navBar {
  position: fixed;
  bottom: 0;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  /*   padding: 1em; */
  z-index: 100;
  background-color: var(--background-color-navbar);

  .home-logo {
    display: none;
  }

  .navBar-buttons {
    display: flex;
    width: 100%;

    .navbar-icon-item {
      display: flex;
      justify-content: center;
      flex: 1;
      background-color: var(--background-color-navbar);
      width: calc(100% / 3);
      padding: 1em;

      /*  &:focus,
      &:hover {
        background-color: var(--secondary-color-pale-green);
      } */

      .nav-button-text {
        display: none;
      }
    }

    .active {
      .navbar-icon {
        fill: var(--accent-color-orange);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .navBar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 16vw;

    .home-logo {
      display: block;
      margin: 2em 1em;
    }

    .navBar-buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left: 1em;

      .navbar-icon-item {
        /* border: 1px solid black; */
        width: 100%;
        padding: 0.5em;
        /* padding: 1em; */
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        text-decoration: none;
        color: var(--text-color);

        .navbar-icon {
          width: 2em;
          height: 2em;
          /* width: 2.75em;
          height: 2.75em; */
        }

        .nav-button-text {
          font-size: 0.8em;
          /* font-size: 1.25rem; */
          display: inline-block;
          background-color: transparent;
          padding: 0.2em 0.5em;
          border-radius: 1em;
        }
      }

      .active {
        .nav-button-text {
          color: var(--accent-color-orange);
          background-color: var(--white-color);
          padding: 0.2em 0.5em;
          border-radius: 1em;
        }
      }
    }
  }
}

@media only screen and (min-width: 1060px) {
  .navBar {
    .navBar-buttons {
      gap: 1em;
      .navbar-icon-item {
        .nav-button-text {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .navBar {
    .navBar-buttons {
      .navbar-icon-item {
        padding-left: 2em;
        .nav-button-text {
          font-size: 1.5rem;
        }
      }
    }
  }
}
