.navBar {
  position: fixed;
  bottom: 0;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  /*   padding: 1em; */
  z-index: 100;

  .navbar-icon-item {
    background-color: var(--background-color-navbar);

    width: calc(100% / 3);
    flex: 1;
    padding: 1em;
    display: flex;
    justify-content: center;

    /*  &:focus,
    &:hover {
      background-color: var(--secondary-color-pale-green);
    } */
  }

  .active {
    .navbar-icon {
      fill: var(--accent-color-orange);
    }
  }
}
