.tech-skills {
  margin: 3em 0;

  .carousel-container {
    max-width: 600px;
    width: 100%;
    position: relative;

    .fa-solid {
      height: 20px;
      width: 20px;
      line-height: 20px;
      background-color: lightgray;
      color: var(--secondary-color-pale-green);
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.25em;
      box-shadow: 0 3px 6px rgba(153, 225, 148, 0.485);
      cursor: pointer;

      &:first-child {
        left: -12px;
      }

      &:last-child {
        right: -12px;
      }
    }

    .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 4) - 0.8em);
      gap: 1em;
      overflow: hidden;
      scroll-behavior: smooth;

      .skill-card {
        padding: 0.5em;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        background-color: var(--secondary-color-pale-green);
        border-radius: 0.5em;
        cursor: pointer;

        .skill-card__icon {
          width: 60px;
          height: 60px;
        }

        .skill-card__text {
          color: var(--gray-color);
          font-size: 0.825em;
        }
      }

      .dragging {
        .skill-card {
          cursor: grab;
          user-select: none;
        }
      }
    }
  }
}

.dark {
  .carousel-container {
    .carousel {
      .skill-card {
        background-color: var(--round-logo-color);
      }
    }
  }
}
