.tech-skills {
  margin: 3em 0;
  width: 100%;

  .carousel-container {
    max-width: 600px;
    width: 100%;
    position: relative;

    .fa-solid {
      display: block;
      height: 20px;
      width: 20px;
      line-height: 20px;
      background-color: lightgray;
      color: var(--secondary-color-pale-green);
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      box-shadow: 0 3px 6px rgba(153, 225, 148, 0.485);
      cursor: pointer;

      &:first-child {
        left: -12px;
      }

      &:last-child {
        right: -12px;
      }
    }

    .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 4) - 0.8em);
      gap: 1em;
      overflow: hidden;
      scroll-behavior: smooth;

      .skill-card {
        padding: 0.5em;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        background-color: var(--secondary-color-pale-green);
        border-radius: 0.5em;

        .skill-card__icon {
          width: 60px;
          height: 60px;
          transition: all 0.3s ease;
        }

        .skill-card__text {
          color: var(--gray-color);
          font-size: 0.825em;
          user-select: none;
        }

        &:hover {
          .skill-card__text {
            color: var(--accent-color-orange);
            font-weight: bold;
          }
        }
      }

      .dragging {
        .skill-card {
          cursor: grab;
          user-select: none;
        }
      }
    }
  }
}

.dark {
  .carousel-container {
    .fa-solid {
      background-color: var(--gray-color);
    }
    .carousel {
      .skill-card {
        background-color: var(--round-logo-color);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .tech-skills {
    .carousel-container {
      max-width: 1200px;

      .fa-solid {
        &:first-child {
          left: -25px;
        }

        &:last-child {
          right: -25px;
        }
      }

      .carousel {
        padding: 2em 0;
        grid-auto-columns: calc((100% / 6) - 0.8em);
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .tech-skills {
    .carousel-container {
      max-width: 1400px;

      .fa-solid {
        &:first-child {
          left: -30px;
        }

        &:last-child {
          right: -30px;
        }
      }

      .carousel {
        padding: 2em 0;
        grid-auto-columns: calc((100% / 8) - 0.8em);
      }
    }
  }
}
