.socialMedia-btn {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.socialMedia-btn svg path {
  fill: #89a44c;
}

.socialMedia-btn:hover svg path {
  fill: var(--accent-color-orange);
}

.dark {
  .socialMedia-btn svg path {
    fill: #93b1a6;
  }

  .socialMedia-btn:hover svg path {
    fill: #89a44c;
  }
}
