.about-section {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;

  .about-section-content {
    padding: 2em;

    .about-section-title {
      text-align: center;
      font-family: "Delius Swash Caps", cursive;
      font-size: 2.25em;
      color: var(--section-title-color);
      margin-bottom: 1em;
    }

    .about-section-text {
      text-align: justify;
      color: var(--text-color);
    }

    .about-section-btn-container {
      margin-top: 1.5em;
      display: flex;
    }

    .skillsSlider-container {
      margin-top: 2.5em;

      .skillsSlider-text {
        color: var(--text-color);
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .about-section {
    margin-left: 16vw;
    width: 84vw;
    height: 100vh;

    .about-section-content {
      padding: 2em 3em;
      font-size: 1.1em;

      .about-section-text {
        text-align: left;
      }

      .skillsSlider-container {
        .skillsSlider-text {
          display: block;
        }
      }
    }
  }

  @media only screen and (min-width: 1500px) {
    .about-section {
      .about-section-content {
        font-size: 1.25em;
        padding: 2em 8em;
      }
    }
  }

  @media only screen and (min-width: 2500px) {
    .about-section {
      .about-section-content {
        font-size: 1.5em;
        padding: 2em 12em;
      }
    }
  }
}
