@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Inria+Sans:wght@400;700&family=Inria+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: white;
  --background-color-intro-code: #fffcf7;
  --background-color-navbar: #edf2e2;

  --accent-color-orange: #ee7d52;

  --round-logo-color: #e8dcd6;
  --round-logo-box-shadow: 6px 6px 8px rgba(128, 81, 62, 0.4);

  --secondary-color-pale-green: #edf2e2;

  --section-title-color: #80513e;
  --text-color: black;
  --btn-text-color: #80513e;

  --white-color: #fff;
  --gray-color: #8f8f8f;
}

.dark {
  --background-color: #1c131c;
  --background-color-intro-code: #110f11;
  --background-color-navbar: #263a29;

  --round-logo-color: #352f44;
  --round-logo-box-shadow: 6px 6px 10px rgba(117, 117, 117, 0.25);

  --section-title-color: #89a44c;
  --text-color: #f2e3db;
  --btn-text-color: #80513eb3;
}

html {
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: var(--background-color);
}
